<div class="title">
	<p class="area-txt">
		Apartamentos con áreas&nbsp;<span class="bold">desde</span> &nbsp; <span class="bolder">57M<sup>2</sup></span> &nbsp; <span class="bold">hasta</span> &nbsp; <span class="bolder">71M<sup>2</sup></span>
	</p>
	<p class="price-txt">
		Precios desde <span class="bold">$147.000.000</span>
	</p>
	<p class="delivery-txt">
		Entrega: primer semestre del 2018
	</p>
</div>
{{yield}}